# AWS Configuration
AWS_REGION=us-east-2
AWS_PROFILE=default

# S3 Configuration
TEST_BUCKET_NAME=dev-chatbot-documents-177981160483

# Lambda Functions
EXTRACT_TEXT_LAMBDA=dev-chatbot-extract-text
EMBEDDING_GENERATOR_LAMBDA=dev-chatbot-generate-embeddings

# DynamoDB Tables
DOCUMENT_METADATA_TABLE=dev-chatbot-document-metadata

# OpenSearch Configuration
OPENSEARCH_ENDPOINT=vpc-dev-chatbot-opensearch-yjxm4m364xen7fsdw5pszvka3a.us-east-2.es.amazonaws.com
OPENSEARCH_INDEX=documents

# Test Configuration
TEST_TIMEOUT=90
